.site,
.site-content {
	@include center-block;
	box-sizing: border-box;
}

.site-content {
	padding-left: 1em;
	padding-right: 1em;
}

#content {
	padding-top: 2em;
	padding-bottom: 2em;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}