button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button-styles;
}

.pwp-simplicity-btn  {
	@include button-styles;

	&:hover {
		box-shadow: 0.125em 0.125em 0.125em #333;
	}

	&:active,
	&:focus {
		box-shadow: 0.125em 0.125em 0.125em #333;
		outline: 0;
	}

	&-primary {
		background-color: #206Fbb;
		color: #f4f4f4;

		&:hover {
			background-color: #206Fbb;
			color: #f4f4f4;
		}
	}

	&-secondary {
		background-color: #444444;
		color: #f4f4f4;

		&:hover {
			background-color: #444444;
			color: #f4f4f4;
		}
	}

	&-warning {
		background-color: #ff5300;
		color: #FFFFFF;

		&:hover {
			background-color: #ff5300;
			color: #FFFFFF;
		}
	}
}