/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-handle {
	padding: 1em 0;
	text-align: center;
	cursor: pointer;

	&:hover {
		button {
			transition: width .4s ease-in-out;
			width: 100%;
		}
	}

	span {
		background-color: transparent;
		border-radius: 0;
		font-size: inherit;
		padding: 0;

		button {
			@include button-styles;
			width: 15em;

			&:hover {
				@include button-styles;
			}
		}
	}
}

.infinite-loader {
	padding: 2em 0;

	.spinner {
		margin: 0 auto;
	}
}